<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Simple Safari</title>
        <meta name="description" content=""/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-57.png" sizes="57x57" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-60.png" sizes="60x60" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-72.png" sizes="72x72" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-76.png" sizes="76x76" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-114.png" sizes="114x114" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-120.png" sizes="120x120" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-144.png" sizes="144x144" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-148.png" sizes="148x148" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-152.png" sizes="152x152" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-288.png" sizes="288x288" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-512.png" sizes="512x512" />
        <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-1024.png" sizes="1024x1024" />
        <link rel="icon" type="image/png" href="images/icons/favicon-32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="images/icons/favicon-16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="images/icons/favicon-96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="images/icons/favicon-160.png" sizes="160x160" />
        <link rel="icon" type="image/png" href="images/icons/favicon-196.png" sizes="196x196" />
        <link rel="shortcut icon" href="images/icons/favicon.ico" />
        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body>
        <main>
            <header>
                <h1><a href="#">Simple Safari</a></h1>
                <a class="button" href="#/login">Login</a>
                <button class="toggle-menu">Menu</button>
            </header>
            <div id="map-container"></div>
            <section id="view"></section>
        </main>
        <nav>
            <h3>Menu</h3>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#/safaris">Safaris</a></li>
                <li><a href="#/discover">Discover</a></li>
                <li><a href="#/photos">My Selfies</a></li>
                <li><a href="#/log-out">Log Out</a></li>
            </ul>
        </nav>
        <!-- Template Scripts -->
        <script type="text/template" id="home-view-template">
            <h2>Welcome to Simple Safari</h2>
            <p>Join the party and start a safari!!!!!</p>
            <p><a href="#/signup" class="button">Sign Up!</a></p>
        </script>

        <script type="text/template" id="loading-view-template">
            <h2>Loading...</h2>
        </script>

        <script type="text/template" id="dashboard-view-template">
            <h2>Dashboard View</h2>
            <p>Listing of nearby safaries</p>
            <ul class="nearby-safaris"></ul>
        </script>

         <script type="text/template" id="hunt-item-template">
            <li>
                <strong><%= attributes.name %></strong>
                <br />
                <%= attributes.description %>
                <a href="#/safari/<%=id%>" class="button">Checkout Safari</a>
            </li>
        </script>

        <script type="text/template" id="safaridetail-view-template">
            <h2><%= attributes.name %></h2>
            <p><%= attributes.description %></p>
            <button class="subscribe-scavengerhunt" style="display:none;">Subscribe</button>
            <button class="unsubscribe-scavengerhunt" style="display:none;">Unsubscribe</button>
            <hr/>
            <ul class="selected-safari-locations"></ul>
         </script>

        <script type="text/template" id="location-listing-template">
            <li>
               <a href="#location/<%=id%>" >
                <strong><%= attributes.name %></strong>
                <br />
                <%= attributes.description %>
                </a>
            </li>
        </script>

        <script type="text/template" id="detail-location-template">
           <h2>location Photos View</h2>
            <p>Shows photos user has subscribed to.</p>
            <hr />
                <ul class="subscribed-photolist"></ul>
        </script>

        <script type="text/template" id="location-photolist-template">
            <li>
                <img class="photo-detail"  src="<%= attributes.photoURL %>">
            </li>
        </script>
        
        <script type="text/template" id="safaris-view-template">
            <h2>Safaris View</h2>
            <p>Listing of safaris subscribed to</p>
        </script>

        <script type="text/template" id="discover-view-template">
            <h2>Discover View</h2>
            <p>Here are locations within .05 miles of your current location. If you don’t see any location listings, please get closer to a map marker.</p>
            <hr />
            <ul class="nearby-safaris"></ul>
        </script>

        <script type="text/template" id="location-item-template">
            <li>
                <strong><%= attributes.name %></strong>
                <br />
                <%= attributes.description %>
                <div class="capture-input-container">
                    <label for="file-input">Select Photo</label>
                    <input class="photo" data-object-id="<%=id%>" type="file" accept="image/*;capture=camera">
                </div>
            </li>
        </script>

        <script type="text/template" id="photodetail-view-template">
            <img class="photo-detail"  src="<%= attributes.photoURL %>">
        </script>

        <script type="text/template" id="userphotos-view-template">
            <h2>User Photos View</h2>
            <p>Shows photos user has posted.</p>
            <hr />
            <ul class="users-images"></ul>
        </script>

        <script type="text/template" id="userimage-thumbnail-template">
            <li>
                <a href="#photo/<%=id%>" >
                    <img class="photo-detail"  src="<%= attributes.photoURL %>">
                </a>
            </li>
        </script>


        <script type="text/template" id="signup-view-template">
            <h2>Sign Up for Simple Safari</h2>
            <input type="text" class="signup-username" placeholder="Username" />
            <input type="password" class="signup-password" placeholder="Create a Password" />
            <input type="email" class="signup-email" placeholder="Enter email" />
            <button class="signup-button">Sign Up</button>
            <a href="#/login">Login?</a>
        </script>

        <script type="text/template" id="login-view-template">
            <h2>Log in to Simple Safari</h2>
            <input type="text" class="login-username" placeholder="Username" />
            <input type="password" class="login-password" placeholder="Password" />
            <button class="login-button">Login</button>
            <a href="#/signup">Sign Up?</a>
            <br />
            <a href="#/forgot-password">Forgot your password?</a>
        </script>

        <script type="text/template" id="forgotpassword-view-template">
            <h2>Forgot your password?</h2>
            <p>Enter your email address to reset your password.</p>
            <input type="text" class="enter-email" placeholder="Email" />
            <button class="forgot-password-button">Enter</button>
        </script>


        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmP_lrkRi-SLUJdaBJ7BgUdcDKS_VuiRU"></script>
        <script src="scripts/libs/geo.js"></script>
        <script src="scripts/libs/latlon.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>/*
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');*/
        </script>

        <script src="scripts/modules/map.js"></script>
        <script src="scripts/modules/menu.js"></script>
        <script src="scripts/modules/usergeo.js"></script>
        <script src="scripts/modules/helper.js"></script>
        <script src="scripts/models/location-model.js"></script>
        <script src="scripts/models/scavengerhunt-model.js"></script>
        <script src="scripts/models/photo-model.js"></script>
        <script src="scripts/views/dashboard-view.js"></script>
        <script src="scripts/views/discover-view.js"></script>
        <script src="scripts/views/forgotpassword-view.js"></script>
        <script src="scripts/views/loading-view.js"></script>
        <script src="scripts/views/locationdetail-view.js"></script>
        <script src="scripts/views/login-view.js"></script> 
        <script src="scripts/views/home-view.js"></script>
        <script src="scripts/views/photodetail-view.js"></script>
        <script src="scripts/views/safaris-view.js"></script>
        <script src="scripts/views/safaridetail-view.js"></script>
        <script src="scripts/views/signup-view.js"></script>
        <script src="scripts/views/userphotos-view.js"></script>
        <script src="scripts/main.js"></script>
</body>
</html>
