@import "variables";

body {
	background: $beige;
	font-family: $sansfont;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	-webkit-transition: all 0.3s ease;
		    transition: all 0.3s ease;
}

.show-menu {
	margin-left: -200px;

	nav {
		right: 0;
	}
}

h1, h2, h3 {
	color: $blue;
	font-family: $sansfont;
	font-size: 2em;
	font-weight: 900;
}

p {
	color: $brown;
	font-size: 16px;
	font-weight: 400;
}
		
hr {
	border: 1px solid $brown;
	margin-left: auto; 
	margin-right: auto; 
}

nav {
	background-color: $blue;
	height: 100%;
	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	z-index: 10;
	-webkit-transition: all 0.3s ease;
		    transition: all 0.3s ease;
}

button {
	background-color: $blue;
	border-radius: 5px;
	color: $beige;  
	font-family: $sansfont;
	font-size: 1em;
	font-weight: 400;
	margin: 8px 5px 10px 0;
	padding: 10px 15px;
	text-align: center;

	&:hover {
		background-color: $green;
	}
}

/* views render in section #view - button style for all anchors.
================================================== */

section {
	color: $brown;
	margin: 0 auto;
	padding: 10px;
}


/* Header
================================================== */

header {
	background-color: $green;
	height: 100px;
	
	padding: 15px 0 0 15px;
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	.header-content {
		color: $beige;
		overflow: hidden;
		margin: 0 auto;
		width: 80%;

		img {
			float: left;
			margin: 0;
			width: 70px;
		    -webkit-filter: drop-shadow( 1px 1px rgba(78, 77, 77, 0.75));

		}

		a {
			color: $beige;
			text-shadow: 1px 1px rgba(78, 77, 77, 0.75);
			text-decoration: none;
		}

		h1 {
			float: left;
			font-size: 3em;
			font-family: $sansfont;
			font-weight: bold;
			letter-spacing: -1px;
			margin-top: 8px;
		}

		span {
			font-family: $scriptfont;
			font-weight: 900;
		}

		button {
			background-color: $blue;
			border-radius: 5px;
			color: $beige;  
			display: none; 
			float: right;
			font-family: $sansfont;
			font-size: 1.5em;
			font-weight: 400;
			margin: 8px 5px 10px 0;
			padding: 10px 15px;
			text-align: center;
			text-shadow: 1px 1px rgba(78, 77, 77, 0.75);
		}
	}
}

.login {
	background-color: $blue;
	border-radius: 5px;
	color: $beige;  
	display: none; 
	float: right;
	font-family: $sansfont;
	font-size: 1.5em;
	font-weight: 400;
	margin: 8px 5px 10px 0;
	padding: 10px 15px;
	text-align: center;

	&:hover {
	background-color: $blue;
	color: $beige;
		
	}
}


/* Right-Menu Style
================================================== */

.right-menu {

	h3 {
		color: $beige;
		font-family: $sansfont;
		font-size: 1.9em;
		padding: 33px;
		margin: 0;
		font-weight: 900;
		background: #0d77b6;
	}

	li {
		margin: 0;
		font-family: $sansfont;

		a {
			border-bottom: 1px solid #258ecd;
			color: $beige;
			display: block;
			font-size: 1.5em;
			margin: 0;
			padding: 1em;
			text-decoration: none;

			&:hover {
				background-color: $green;
				color: $blue;
			}

			&:active {
				background-color: $green;
				color: $blue;
			}
		}
	}
}

/* Map
================================================== */

#map-container {
	background-color: #ccc;
	display: none;
	height: 300px;
	width: 100%;
}

/* Forms
================================================== */

.signup-form-container {
	margin: 20px auto;
	overflow: hidden;

	.signup-container {
		border: 1px solid $blue;
		border-radius: 5px;
		margin: auto;
		padding: 20px;
		overflow: auto;
		width: 240px;

		h2 {
			text-align: center;
			color: $blue;
		}

		input {
			margin: 10px auto;
		}

		.signup-button {
			background-color: $blue;
			border-radius: 5px;
			color: $beige;
			font-family: $sansfont;
			font-weight: 400;
			font-size: 16px;
			margin: 5px 10px;
			padding: 10px;
			width: 50%;
			text-align: center;
			text-shadow: 1px 1px rgba(78, 77, 77, 0.75);

			&:hover,
			&:active {
				background-color: $green;
			}
		}

		a {
			color: $brown;
			font-size: 16px;
			font-weight: bold;

			&:hover,
			&:active {
				color: $orange;
			}
		} 
    }
}


.login-form-container {
	margin: 20px auto;
	overflow: hidden;

	.login-container {
		border: 1px solid $blue;
		border-radius: 5px;
		margin: auto;
		padding: 20px;
		overflow: auto;
		width: 240px;

		h2 {
			text-align: center;
			color: $blue;
		}
		input {
			margin: 10px auto;
		}
		.login-button {
			background-color: $blue;
			border-radius: 5px;
			color: $beige;
			font-family: $sansfont;
			font-weight: 400;
			font-size: 16px;
			margin: 5px 10px;
			padding: 10px;
			width: 50%;
			text-align: center;
			text-shadow: 1px 1px rgba(78, 77, 77, 0.75);

			&:hover,
			&:active {
				background-color: $green;
			}
		}
		a {
			color: $brown;
			font-size: 16px;
			font-weight: bold;

			&:hover,
			&:active {
				color: $orange;
			}
		}
	}

	.forgot-password-link {
		color: $blue;
		display: block;
		margin: 10px auto;
		text-align: center;
	}
}

.forgot-password-container {
	margin: 80px auto;
	overflow: hidden;
	width: 50%;

	.enter-email {
		border-radius: 5px;
		float: left;
		height: 30px;
		margin: 30px 10px 0 0;
		width: 70%;
	}

	.forgot-password-button {
		background-color: $blue;
		border-radius: 5px;
		color: #FFF;
		display: inline-block;
		float: left;
		font-family: $sansfont;
		font-weight: 400;
		font-size: 16px;
		margin: 30px 0 0 0;
		padding: 6px;
		width: 20%;
		text-align: center;
		text-shadow: 1px 1px rgba(78, 77, 77, 0.75);
	}
}

/* Forms - Error for empty inputs
================================================== */

.input-error {
	background-color: rgb(247, 226, 226) !important;
	border-color: red !important;
}

/* Dashboard
================================================== */

.nearby-safaris {
	li {
		font-size: 1.6em;
		padding: 5px;

		strong {
			color: $brown;
		}
	}
	
	p {
		color: $brown;
		margin: 20px 0 5px;
	}

	a {
		background-color: $blue;
		border-radius: 5px;
		color: $beige;  
		display: block; 
		font-family: $sansfont;
		font-size: 0.7em;
		font-weight: 400;
		margin: 10px 5px 25px 0;
		padding: 10px 15px;
		text-align: center;
		width: 180px;

		&:hover {
			background-color: $green;
		}
	}
}
/* My Safaris
================================================== */
.users-scavengerhunt-list {
	li {
		font-size: 1.6em;
		padding: 5px;

		strong {
			color: $brown;
		}
	}
	
	p {
		color: $brown;
		margin: 20px 0 5px;
	}
}


/* #Fil Input
================================================== */

.capture-input-container {
	display: inline-block;
	margin: 10px 0;
	position: relative;

	label {
		background: $blue;
		border-radius: 5px;
		color: $beige;
		padding: 10px 20px;
		text-align: center;
	}

	input {
		height: 100%;
		left: 0;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}


/* Photo Gallery CSS & Media Queries
================================================== */

.subscribed-photolist,
.users-images {

	li {
		color: #FFF;
		float: left;
		position: relative;
		width: 23%;
		height: 230px;
		margin-right: 1%;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
	}

	a {
		img {
			display: block;
		}
	}
}

@media only screen and (max-width : 480px) {
	.header-content {
		width: 100%;
		.selfie-header {
			display: none;
		}	
	}
	.subscribed-photolist,
	.users-images {
		li {
			width: 100%;
		}
	}
}
@media only screen and (min-width : 481px) {
	.subscribed-photolist,
	.users-images {
		li {
			width: 48%;
		}
	}
}
@media only screen and (min-width : 700px) {
	.subscribed-photolist,
	.users-images {
		li {
			width: 32.3%;
		}
	}
}
@media only screen and (min-width : 1051px) {
	.subscribed-photolist,
	.users-images {
		li {
			width: 24%;
		}
	}
}
