header {
	background-color: #999;
	overflow: auto;
	padding: 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	h1 {
		display: inline-block;
		font-size: 1.5em;
		margin: 10px 0;
		padding: 0;
	}

	button {
		float: right;
		margin: 20px 0 10px 0;
	}
}

#map-container {
	background-color: #ccc;
	height: 200px;
	width: 100%;
}

section {
	background-color: beige;
}

nav {
	background-color: #eee;
	height: 100%;
	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	z-index: 10;
	// -webkit-transition: right 0.3s ease;
	// 	    transition: right 0.3s ease;
}

body {
	overflow-x: hidden;
	position: relative;
	// -webkit-transition: left 0.3s ease;
	// 	    transition: left 0.3s ease;

	&.show-menu {
		left: -200px;
		
		nav {
			right: 0;
		}
	}
}