@import "variables";

nav {
	background-color: $blue;
	height: 100%;
	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	z-index: 10;
	-webkit-transition: right 0.3s ease;
		    transition: right 0.3s ease;
}

body {
	background: $beige;
	overflow-x: hidden;
	position: relative;

	//move body on menu
	&.show-menu {
		left: -200px;
		-webkit-transition: left 0.3s ease;
			    transition: left 0.3s ease;

		nav {
			right: 0;
		}
	}	
}

/* views render in section #view
================================================== */
section {
	color: $brown;
	padding: 20px;
}

/* views render in section #view
================================================== */


header {
	background-color: $green;
	color: $beige;
	font-weight: normal;
	overflow: auto;
	padding: 15px 0 0 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	h1 {
		display: inline-block;
		font-size: 1.5em;
		font-family: $sansfont;
		font-weight: 900;
		color: $blue;
		margin: auto;
		padding: 0px;
	}

	a {
		color: $beige;
		text-decoration: none;
	}

	img {
		width: 5%;
		margin:auto;
	}

	p {
		margin: 20px 0 0 0;
		padding: 10px 0 0 0;
	}

	span {
		color: $blue;
		font-family: $scriptfont;
		font-weight: 900;
		font-size: 30px;
		margin-top: 20px;
		text-decoration: none;
		
		&:visited {
			text-decoration: none;
		}
	}

	.button,
	button {
		display: none;
		margin: 0px 20px 10px 0;
		padding: 10px;
		float: right;
		font-family: $sansfont;
		font-weight: 300;
		font-size: 1.5em;
		background-color: $blue;
		color: $beige;  
		border-radius: 5px;
		text-align: center;
	}
}

/* Map
================================================== */
#map-container {
	background-color: #ccc;
	display: none;
	height: 300px;
	width: 100%;
}

/* Forms
================================================== */
.signup-form-container {
	margin: 20px auto;
	overflow: hidden;


	.signup-container {
		border: 3px solid $blue;
		border-radius: 5px;
		margin: auto;
		padding: 20px;
		overflow: auto;
		width: 300px;

		h2 {
			text-align: center;
			color: $blue;
		}

		.signup-button {
			background-color: $blue;
			border-radius: 5px;
			color: $beige;
			font-family: $sansfont;
			font-weight: 400;
			font-size: 1.5em;
			margin: 5px auto;
			padding: 10px;
			width: 50%;
			text-align: center;

			&:hover,
			&:active {
				background-color: $green;
			}
		}  
    }
}


.login-form-container {
	margin: 20px auto;
	overflow: hidden;

	.login-container {
		border: 3px solid $blue;
		border-radius: 5px;
		margin: auto;
		padding: 20px;
		overflow: auto;
		width: 300px;

		h2 {
			text-align: center;
			color: $blue;
		}

		.login-button {
			background-color: $blue;
			border-radius: 5px;
			color: $beige;
			font-family: $sansfont;
			font-weight: 400;
			font-size: 1.5em;
			margin: 5px auto;
			padding: 10px;
			width: 50%;
			text-align: center;

			&:hover,
			&:active {
				background-color: $green;
			}
		}
	}

	.forgot-password-link {
		color: $blue;
		display: block;
		margin: 10px auto;
		text-align: center;
	}
}

.forgot-password-container {
	margin: 80px auto;
	overflow: hidden;
	width: 50%;

	.enter-email {
		border-radius: 5px;
		float: left;
		height: 30px;
		margin: 30px 10px 0 0;
		width: 70%;
	}

	.forgot-password-button {
		background-color: $blue;
		border-radius: 5px;
		color: #FFF;
		display: inline-block;
		float: left;
		font-family: $sansfont;
		font-weight: 400;
		font-size: 1em;
		margin: 30px 0 0 0;
		padding: 6px;
		width: 20%;
		text-align: center;
	}
}

/* Forms - Error for empty inputs
================================================== */
.input-error {
	background-color: rgb(247, 226, 226) !important;
	border-color: red !important;
}

/* Photo Gallery CSS & Media Queries
================================================== */
.subscribed-photolist,
.users-images {

	li {
		border: 1px solid #333;
		color: #FFF;
		float: left;
		padding-bottom: 25%;
		position: relative;
		width: 25%;
	}

	a {
		background: #66F;
		bottom: 10px;
		left: 10px;
		overflow: hidden;
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

@media only screen and (max-width : 480px) {
	.subscribed-photolist,
	.users-images {
		li {
			padding-bottom: 100%;
			width: 100%;
		}
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	.subscribed-photolist,
	.users-images {
		li {
			padding-bottom: 50%;
			width: 50%;
		}
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	.subscribed-photolist,
	.users-images {
		li {
			padding-bottom: 33.3%;
			width: 33.3%;
		}
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	.subscribed-photolist,
	.users-images {
		li {
			padding-bottom: 25%;
			width: 25%;
		}
	}
}

