//variables
$blue: #2C87BF;
$blue-active: #39B4BF;
// been using green for hover states on blue buttons
$green: #AFBF36;
$trans-green: rgba(175, 191, 54, 0.7);
$yellow: #F2DB66;
$brown: #333228;
$orange: #ff944f;
$beige: #F2F0E4;
$scriptfont: 'Oleo Script', cursive; //font-weight: 400;
$sansfont: 'Source Sans Pro', sans-serif; //font-weight: 200, 400, 900;



